body {
  background-image: url("tour_logo.png");
  background-size: contain;
  background-color: rgba(255, 250, 202, 0.97);
  background-blend-mode: lighten;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.3rem;
}

.main {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}

.player-joined {
  font-weight: 500;
}

.title-background {
  background-color: rgb(41, 41, 41);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

.title-container img {
  width: 15%;
  height: auto;
  max-width: 80px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 700px;
  padding-inline: 7px;
}

.title-container h1 {
  color: white;
  margin-block: 15px;
}

button,
.button {
  all: unset;
  max-height: fit-content;
  display: inline-block;
  cursor: pointer;
  padding-inline: 20px;
  padding-block: 15px;
  border-radius: 10px;
  border-style: none;
  font-weight: bold;
  font-size: 0.9rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.button-green {
  background-color: rgb(130, 255, 130);
}

.button-blue {
  background-color: rgb(65, 71, 155);
  color: white;
}

.button-yellow {
  background-color: rgb(255, 208, 0);
}

.button-red {
  background-color: tomato;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  min-height: 70px;
  flex-wrap: wrap;
  gap: 10px;
}

input {
  width: 400px;
  margin: 2px;
}

.space {
  margin-bottom: 500px;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.underline {
  text-decoration: underline;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left,
.right {
  width: 40%;
}
.full-width {
  width: 100%;
}

#deelnemers-container h3 {
  text-decoration: underline;
}

.betalen {
  text-align: center;
  margin-top: 2rem;
}

.betalen img {
  margin-block: 1rem;
  width: 200px;
  height: 200px;
}

.riders-out {
  background-color: rgb(255, 134, 113);
  margin: 2px;
}

.uitleg-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-uitleg {
  width: calc(85% - 105px);
  text-align: center;
  padding-right: 15%;
  text-decoration: underline;
}

#uitleg h2 {
  text-align: center;
  text-decoration: underline;
}

.center-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#uitvallers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
