* {
  box-sizing: border-box;
  border-radius: 5px;
}

body {
  max-width: 500px;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}

h1 {
  font-size: 1rem;
  margin: 0;
}

h2 {
  font-size: 0.9rem;
  margin: 0;
}

h3 {
  font-size: 0.8rem;
  margin: 0;
}

h4 {
  font-size: 0.8rem;
  margin: 5px 0 5px 0;
}

h5 {
  font-size: 0.7rem;
  margin: 5px 0 5px 0;
  color: #595959;
}

.red {
  background-color: tomato;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.form-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.rider-list {
  height: 83vh;
  overflow-y: scroll;
  margin: 5px;
}

.li-rider {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid black;
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 3px;
}

.team-wrapper,
.rider-name-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rider-name-wrapper span {
  margin-inline: 5px;
  font-size: 0.8rem;
}

.rider-name-wrapper h4 {
  margin-block: 3px;
}

.li-rider-selected {
  background-color: #ccccff;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.9rem;
}

.selected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
  width: 60%;
  padding-left: 5px;
}

.selected-container button {
  width: 150px;
}

#rider-count,
#reserve-count {
  font-style: italic;
  margin-block: 5px;
}

.list-container {
  order: -1;
  width: 60%;
  height: 100%;
  border: 2px solid #333399;
}

.list-container-to-right {
  order: 2;
  width: 60%;
  height: 100%;
  border: 2px solid #333399;
}

.search-container {
  border-bottom: 2px solid #333399;
  border-radius: 0;
  padding: 5px;
}

.search {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 35px;
  font-size: 0.9rem;
  font-weight: bold;
  border: 2px solid #333399;
  padding-left: 3px;
}

.winners-container {
  width: 60%;
  margin-left: 5px;
}

button,
.form-button {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  border-style: none;
  min-height: 40px;
  min-width: 120px;
  cursor: pointer;
  color: white;
  background-color: #333399;
}

.submit-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 15px 25px 15px 25px;
  font-weight: 600;
  font-size: 0.9rem;
}

button:disabled {
  color: lightgray;
}

.padding-small {
  padding: 5px 7px 5px 7px;
}

.center {
  margin-left: 0;
  margin-right: 0;
}

.button-green {
  background-color: lightgreen;
  color: black;
}

.button-red {
  background-color: tomato;
  color: white;
}

.ul-container-one,
.ul-container-two {
  text-align: left;
  width: 100%;
  min-height: 30%;
}

.ul-container-two {
  min-height: 20%;
}

#selected-riders,
#reserve-riders {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.margin-top {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.underline {
  text-decoration: underline;
}

.input-container {
  margin-top: 30px;
  margin-inline: 10px;
}

.input {
  width: 95%;
  height: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  border-color: #333399;
  border-style: solid;
  padding-inline: 5px;
}

input:focus {
  border-color: lightgreen;
  outline: lightgreen;
}

/* Modal */

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.hidden {
  display: none;
}

/* Truien */

#winners-heading {
  margin-bottom: 2rem;
}

.yellow {
  background-color: yellow;
}
.yellow p {
  margin-top: 0;
}

.green {
  background-color: lightgreen;
}
.green p {
  margin-top: 0;
}

.polka {
  background-color: tomato;
}
.polka p {
  margin-top: 0;
}

.inline {
  display: inline;
}

.selected {
  background-color: lightgreen;
}

.in-course {
  background-color: lightgreen;
  color: black;
}

.out-course {
  color: black;
  background-color: tomato;
}

/* Dialog */

.dialog {
  max-width: unset;
  max-height: unset;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

.dialog-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-container {
  border-radius: 10px;
  background-color: white;
  min-height: 250px;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer {
  height: 5%;
}
