body {
  background-image: url("tour_logo.png");
  background-size: contain;
  background-color: rgba(255, 250, 202, 0.97);
  background-blend-mode: lighten;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  line-height: 1.5;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.3rem;
}

.main {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title-container img {
  width: 15%;
  height: 15%;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  max-height: fit-content;
  display: inline-block;
  cursor: pointer;
  padding-inline: 20px;
  padding-block: 15px;
  border-radius: 10px;
  border-style: none;
  font-weight: bold;
  font-size: medium;
}

.button-green {
  background-color: rgb(130, 255, 130);
}

.button-gray {
  background-color: rgb(65, 71, 155);
  color: white;
}

.button-yellow {
  background-color: rgb(255, 208, 0);
}

.button-red {
  background-color: tomato;
}

.width-full {
  width: 100%;
}

.btn-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 400px;
  margin: 2px;
}

.space {
  margin-bottom: 500px;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.underline {
  text-decoration: underline;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left,
.right {
  width: 40%;
}
.full-width {
  width: 100%;
}

.betalen {
  text-align: center;
  margin-top: 2rem;
}

.betalen a {
  display: inline-block;
  background-color: rgb(255, 208, 0);
  padding: 1rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.betalen img {
  margin-top: 1rem;
  width: 50%;
  height: 50%;
}

.riders-out {
  background-color: rgb(255, 134, 113);
  margin: 2px;
}

.uitleg-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-uitleg {
  width: calc(85% - 105px);
  text-align: center;
  padding-right: 15%;
  text-decoration: underline;
}
